{% extends 'parent/base.html' %}

{% block title %}home page{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home:home' %}">Navbar</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Home</a>
                    </li>
                </ul>
                <form action="" method="get" class="d-flex" role="search">
                    {{ form.search }}
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% for result in results %}
        <a href="{% url 'home:book_detail' result.meta.id result.slug %}">{{ result.name }}</a><br>
    {% empty %}
        <p>not found</p>
    {% endfor %}
{% endblock %}
